<p id="notice"><%= notice %></p>

<p>
  <strong>Model:</strong>
  <%= @shoe.model %>
</p>

<p>
  <strong>Style:</strong>
  <%= @shoe.style %>
</p>

<p>
  <strong>Year:</strong>
  <%= @shoe.year %>
</p>

<%= link_to 'Edit', edit_shoe_path(@shoe) %> |
<%= link_to 'Back', shoes_path %>
